# Logistic Regression with daru and statsample-glm

In this notebook we'll see with some examples how the probability of a given outcome can be predicted with logistic regression using daru and statsample-glm.

In [2]:
require 'daru'
require 'distribution'
require 'statsample-glm'
require 'open-uri'

false

For this notebook, we will utilize [this dataset](http://www.ats.ucla.edu/stat/data/binary.csv) denoting whether students got admission for a graduate degree program depending on their GRE scores, GPA and rank of the institute they did an undergraduate degree in (ranked from 1 to 4).

It should be noted that statsample-glm does not yet support categorical data so the ranks will be treated as continuos.

In [3]:
content = open('http://www.ats.ucla.edu/stat/data/binary.csv')
File.write('binary.csv', content.read)

df = Daru::DataFrame.from_csv "binary.csv"
df.vectors = Daru::Index.new([:admit, :gpa, :gre, :rank])
df

#<Daru::DataFrame(400x4)>
       admit   gpa   gre  rank
     0     0   380  3.61     3
     1     1   660  3.67     3
     2     1   800     4     1
     3     1   640  3.19     4
     4     0   520  2.93     4
     5     1   760     3     2
     6     1   560  2.98     1
     7     0   400  3.08     2
     8     1   540  3.39     3
     9     0   700  3.92     2
    10     0   800     4     4
    11     0   440  3.22     1
    12     1   760     4     1
    13     0   700  3.08     2
    14     1   700     4     1
   ...   ...   ...   ...   ...

Use the `Statsampel::GLM.compute` method for logisitic regression analysis.

The first method in the `compute` function is the DataFrame object, followed by the Vector that is to be the dependent variable, and then the method to be used for the link function. Can be :logit, :probit, :poisson or :normal.

The `coefficients` method calculates the coefficients of the GLM and returns them as a Hash.

In [4]:
glm = Statsample::GLM::compute df, :admit, :logistic, constant: 1
c = glm.coefficients :hash

{:gpa=>0.0022939595044433295, :gre=>0.7770135737198556, :rank=>-0.5600313868499893, :constant=>-3.4495483976684747}

The logistic regression coefficients give the change in the log odds of the outcome for a one unit increase in the predictor variable.

Therefore, to interpret each of the above co-efficients:
* For every one unit change in gre, the log odds of admission (versus non-admission) increases by **0.002**.
* For a one unit increase in gpa, the log odds of being admitted to graduate school increases by **0.777**.
* For every increase in the rank number of the institute (aka decrease in quality of the institute), the log odds of being admitted to graduate school increase by **-0.56**.

Log odds become a little difficult to interpret, so we'll exponentiate each of the co-efficients so that each co-efficient can be interpreted as an odds-ratio.

In [5]:
Daru::Vector.new(c).exp # Calling `#exp` on Daru::Vector exponentiates each element of the Vector.

#<Daru::Vector(4)>
                  gpa   1.0022965926425997
                  gre    2.174967177712436
                 rank   0.5711911356769712
             constant 0.031759976019135994

We can now compute the probability of gaining admission into a graduate college based on the rank of the undergraduate college, by keeping the GRE score and GPA constant.

As you can see in the result below, the `rankp` Vector shows the probability of admission based on the rank. The person from the most highly rated undergrad school (rank 1) has a probability of **0.49** of getting admitted into graduate school.

In [6]:
e = Math::E
new_data = Daru::DataFrame.new({
  gre: [df[:gre].mean]*4,
  gpa: [df[:gpa].mean]*4,
  rank: df[:rank].factors
  })

new_data[:rankp] = new_data.collect(:row) do |x|
  1 / (1 + e ** -(c[:constant]  + x[:gre] * c[:gre] + x[:gpa] * c[:gpa] + x[:rank] * c[:rank]))
end

new_data.sort! [:rank]

#<Daru::DataFrame(4x4)>
                   gpa        gre       rank      rankp
          1      587.7 3.38990000          1 0.49314506
          3      587.7 3.38990000          2 0.35721950
          0      587.7 3.38990000          3 0.24094889
          2      587.7 3.38990000          4 0.15348622

To demonstrate with another example, lets create a hypothetical dataset consisting of the body weight of 20 people and whether they survived or not.

For this example we will just assume that people with less body weight have lesser chances of survival.

In [7]:
require 'distribution'

# Create a normally distributed Vector with mean 30 and standard deviation 2
rng = Distribution::Normal.rng(30,2)
body_weight = Daru::Vector.new(20.times.map { rng.call }.sort)

# Populate chances of survival, assume that people with less body weight on average
# are less likely to survive.
survive = Daru::Vector.new [0,0,0,0,0,1,0,1,0,0,1,1,0,1,1,1,0,1,1,1]

df = Daru::DataFrame.new({
  body_weight: body_weight,
  survive: survive
})

#<Daru::DataFrame(20x2)>
            body_weigh    survive
          0 26.1751928          0
          1 26.8544976          0
          2 26.9732947          0
          3 27.4919293          0
          4 27.6874743          0
          5 28.0839648          1
          6 28.5525788          0
          7 28.5932383          1
          8 29.3933561          0
          9 30.6325620          0
         10 30.7581299          1
         11 30.9455133          1
         12 30.9785544          0
         13 31.1064340          1
         14 31.8869777          1
        ...        ...        ...

Compute the logistic regression co-efficients.

In [8]:
glm    = Statsample::GLM.compute df, :survive, :logistic, constant: 1
coeffs = glm.coefficients :hash

{:body_weight=>0.6364786065467356, :constant=>-19.136605344079253}

Based on the coefficients, we compute the predicted probabilities for each number in the Vector :body_weight and store them in another Vector called `:survive_pred`.

In [9]:
e = Math::E
df[:survive_pred] = df[:body_weight].map { |x| 1 / (1 + e ** -(coeffs[:constant] + x*coeffs[:body_weight])) }
df

#<Daru::DataFrame(20x3)>
            body_weigh    survive survive_pr
          0 26.1751928          0 0.07751103
          1 26.8544976          0 0.11463040
          2 26.9732947          0 0.12253071
          3 27.4919293          0 0.16265831
          4 27.6874743          0 0.18032897
          5 28.0839648          1 0.22067063
          6 28.5525788          0 0.27617803
          7 28.5932383          1 0.28138117
          8 29.3933561          0 0.39451730
          9 30.6325620          0 0.58912880
         10 30.7581299          1 0.60832726
         11 30.9455133          1 0.63634884
         12 30.9785544          0 0.64120127
         13 31.1064340          1 0.65970378
         14 31.8869777          1 0.76110984
        ...        ...        ...        ...

The above results can then be plotted using the `plot` function.

The curve looks is an ideal logit regression curve.

In [10]:
df.plot type: [:scatter,:line], x: [:body_weight]*2, y: [:survive_pred]*2 do |plot, diagram|
  plot.x_label "Body Weight"
  plot.y_label "Probability of Survival"
end

#<Nyaplot::Frame:0x9cf99c4 @properties={:panes=>[#<Nyaplot::Plot:0x9d322ec @properties={:diagrams=>[#<Nyaplot::Diagram:0x9cfa8ec @properties={:type=>:scatter, :options=>{:x=>:body_weight, :y=>:survive_pred}, :data=>"0f3ae5d0-d297-4326-9735-b2ce70de8b6a"}, @xrange=[26.17519289573087, 34.06716665664634], @yrange=[0.07751103905787578, 0.9273324646422535]>, #<Nyaplot::Diagram:0x9cfa1bc @properties={:type=>:line, :options=>{:x=>:body_weight, :y=>:survive_pred}, :data=>"0f3ae5d0-d297-4326-9735-b2ce70de8b6a"}, @xrange=[26.17519289573087, 34.06716665664634], @yrange=[0.07751103905787578, 0.9273324646422535]>], :options=>{:x_label=>"Body Weight", :y_label=>"Probability of Survival", :zoom=>true, :width=>700, :xrange=>[26.17519289573087, 34.06716665664634], :yrange=>[0.07751103905787578, 0.9273324646422535]}}>], :data=>{"0f3ae5d0-d297-4326-9735-b2ce70de8b6a"=>#<Nyaplot::DataFrame:0x9cfc5e8 @name="0f3ae5d0-d297-4326-9735-b2ce70de8b6a", @rows=[{:body_weight=>26.17519289573087, :survive=>0, :survive_pred=>0.07751103905787578}, {:body_weight=>26.854497681641675, :survive=>0, :survive_pred=>0.1146304066151842}, {:body_weight=>26.97329479654869, :survive=>0, :survive_pred=>0.12253071076714478}, {:body_weight=>27.491929384599235, :survive=>0, :survive_pred=>0.16265831517056353}, {:body_weight=>27.687474306717686, :survive=>0, :survive_pred=>0.1803289706419178}, {:body_weight=>28.08396489481242, :survive=>1, :survive_pred=>0.22067063661304281}, {:body_weight=>28.55257885575344, :survive=>0, :survive_pred=>0.27617803593748924}, {:body_weight=>28.593238352631314, :survive=>1, :survive_pred=>0.28138117208460395}, {:body_weight=>29.393356129677205, :survive=>0, :survive_pred=>0.39451730141488994}, {:body_weight=>30.632562083397968, :survive=>0, :survive_pred=>0.5891288081422471}, {:body_weight=>30.75812997202289, :survive=>1, :survive_pred=>0.6083272626049917}, {:body_weight=>30.94551333347742, :survive=>1, :survive_pred=>0.636348843290991}, {:body_weight=>30.978554484923553, :survive=>0, :survive_pred=>0.6412012784028681}, {:body_weight=>31.10643408324435, :survive=>1, :survive_pred=>0.6597037874917282}, {:body_weight=>31.886977788068087, :survive=>1, :survive_pred=>0.7611098447842606}, {:body_weight=>32.057476311917405, :survive=>1, :survive_pred=>0.7802789177089656}, {:body_weight=>32.40678020264364, :survive=>0, :survive_pred=>0.8160207737077656}, {:body_weight=>32.67445686623449, :survive=>1, :survive_pred=>0.8402363159195696}, {:body_weight=>33.699612297370194, :survive=>1, :survive_pred=>0.9099051150016377}, {:body_weight=>34.06716665664634, :survive=>1, :survive_pred=>0.9273324646422535}]>}, :extension=>[]}>